In [57]:
import pandas as pd
import numpy as np
import datetime

In [45]:
data=pd.read_csv('longniankuanbiao.csv')
data

C:\Users\Jiawei\AppData\Local\Temp\ipykernel_14752\66814709.py:1: DtypeWarning: Columns (45,197,367,373,380,383,411,417,439,454,455,461,467,468,475) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('longniankuanbiao.csv')

,del_flg,data_dte,areano,d_last_update_dte,fic_mis_date,v_prov_code,v_data_area,v_data_origin,v_inst_soc_no,v_appg_mode,...,OVERDUE_DAYS_I9,OVERDUE_PERIODS_I9,ADJUSTED_RISK_CLASS_I9,THEO_LOAN_BAL_I9,BUCKET_P_AMT_I9,GL_CODE_I9,PROVISION_AMOUNT_I9,MAX_OVERDUE_DAY_CUR,RISK_CLASS_MODIFY_DATE,MODIFY_RISK_CLASS
0,A,2024-01-31,10098,2024-01-31,2024-01-31,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,700000.0,0.0,7250.0,2514.40,0.0,NaN,NaN
1,A,2024-01-31,10098,2024-01-31,2024-01-31,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,340000.0,0.0,7250.0,1193.74,0.0,NaN,NaN
2,A,2024-01-31,10098,2024-01-30,2024-01-30,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,370000.0,0.0,7250.0,1567.32,0.0,NaN,NaN
3,A,2024-01-31,10098,2023-12-04,2023-12-04,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,0.0,0.0,7250.0,0.00,0.0,NaN,NaN
4,A,2024-01-31,10098,2021-11-03,2021-11-03,5129,D0,HIS_RL_D0_TASKLOG_RL_S,3,I,...,0.0,0.0,0.0,0.0,0.0,7250.0,0.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6243,A,2024-01-31,10098,2023-12-04,2023-12-04,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,0.0,0.0,7250.0,0.00,0.0,NaN,NaN
6244,A,2024-01-31,10098,2024-01-29,2024-01-29,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,1200000.0,0.0,7250.0,3967.20,0.0,NaN,NaN
6245,A,2024-01-31,10098,2024-01-28,2024-01-28,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,360000.0,0.0,7250.0,776.52,0.0,NaN,NaN
6246,A,2024-01-31,10098,2024-01-24,2024-01-24,5129,D0,ods_rl_tasklog_rl_d0_i_d,3,I,...,0.0,0.0,0.0,490000.0,0.0,7250.0,1620.43,0.0,NaN,NaN
6247,A,2024-01-31,10098,2021-12-07,2021-12-07,5129,D0,HIS_RL_D0_TASKLOG_RL_S,3,I,...,0.0,0.0,0.0,0.0,0.0,7250.0,0.00,0.0,NaN,NaN

In [5]:
ID_TYPE=data['v_id_type_cd']
ID_TYPE

0       1
1       1
2       1
3       1
4       1
       ..
6243    1
6244    1
6245    1
6246    1
6247    1
Name: v_id_type_cd, Length: 6248, dtype: int64

In [29]:
data['v_id_type_cd'].value_counts(dropna=False)
# 统计每种性别有多少人数，这里的 int64 指的是统计数字

v_id_type_cd
1    6248
Name: count, dtype: int64

In [70]:
def calculate_age(birth_date):
    if pd.isnull(birth_date):
        # 将缺失值替换为指定日期
        birth_date = '1900-01-01'
    # 将字符串日期转换为日期时间对象
    birth_date = datetime.datetime.strptime(birth_date, '%Y-%m-%d')
    
    # 获取当前日期
    current_date = datetime.datetime.now()
    
    # 计算年龄
    age = current_date.year - birth_date.year - ((current_date.month, current_date.day) < (birth_date.month, birth_date.day))
    
    return age

In [77]:
def calculate_reject_stats(data):
    result_rows = []
    # 获取总记录数
    total_records = len(data)
    
    # 对于证件类型不为身份证的客户，予以拒绝；
    null_count = data['v_id_type_cd'].isnull().sum()
    reject_cnt=(data['v_id_type_cd']!=1).sum()
    reject_prob=reject_cnt/total_records
    result_rows.append({
            'name': 'v_id_type_cd',
            'null_cnt':null_count,
            'reject_cnt': reject_cnt,
            'reject_prob': reject_prob,
            'rule':'对于证件类型不为身份证的客户，予以拒绝'
        })
    
    # 借款人非外籍人士、非港澳台人士；

    null_count=data['V_NATIONALITY_COUNTRY_CD'].isnull().sum()
    reject_cnt=(data['V_NATIONALITY_COUNTRY_CD']!='CHN').sum()
    reject_prob=reject_cnt/total_records
    result_rows.append({
            'name': 'V_NATIONALITY_COUNTRY_CD',
            'null_cnt':null_count,
            'reject_cnt': reject_cnt,
            'reject_prob': reject_prob,
            'rule':'借款人非外籍人士、非港澳台人士'
        })
    

    # 证件类型是身份证,但借款人年龄小于18周岁或大于65周岁，予以拒绝；
    null_count=(data['v_id_type_cd'].isnull()|data['D_DATE_OF_BIRTH'].isnull()).sum()
    # 对 D_DATE_OF_BIRTH 列应用 calculate_age 函数
    data['age'] = data['D_DATE_OF_BIRTH'].apply(calculate_age)
    reject_cnt = ((data['v_id_type_cd'] == 1) & ((data['age'] < 18) | (data['age'] > 65))).sum()
    reject_prob=reject_cnt/total_records
    result_rows.append({
            'name': 'D_DATE_OF_BIRTH',
            'null_cnt':null_count,
            'reject_cnt': reject_cnt,
            'reject_prob': reject_prob,
            'rule':'证件类型是身份证,但借款人年龄小于18周岁或大于65周岁，予以拒绝'
        })

    # 创建包含所有结果的 DataFrame
    result_df = pd.DataFrame(result_rows)
    
    return result_df

In [78]:
test=calculate_reject_stats(data)
test

,name,null_cnt,reject_cnt,reject_prob,rule
0,v_id_type_cd,0,0,0.000000,对于证件类型不为身份证的客户，予以拒绝
1,V_NATIONALITY_COUNTRY_CD,169,169,0.027049,借款人非外籍人士、非港澳台人士
2,D_DATE_OF_BIRTH,169,230,0.036812,"证件类型是身份证,但借款人年龄小于18周岁或大于65周岁，予以拒绝"

In [24]:
import pandas as pd

# 假设你有一个 DataFrame 叫做 data，其中包含字段 'V_NATIONALITY_COUNTRY_CD'
# 你可以直接对该列使用 value_counts() 方法来获取不同取值及其计数
data = pd.DataFrame({'V_NATIONALITY_COUNTRY_CD': ['CHN', 'USA', 'CHN', 'USA', 'CHN', 'GBR']})
value_counts = data['V_NATIONALITY_COUNTRY_CD'].value_counts()

print("不同取值及其计数:")
print(value_counts)

print("\n不同取值:")
print(value_counts.index.tolist())

不同取值及其计数:
V_NATIONALITY_COUNTRY_CD
CHN    3
USA    2
GBR    1
Name: count, dtype: int64

不同取值:
['CHN', 'USA', 'GBR']